.patient-dashboard .dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.patient-dashboard .hamburger {
  display: inline-block;
  cursor: pointer;
}


.hh1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

.patient-dashboard .hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.patient-dashboard .dashboard-content {
  display: flex;
}

.patient-dashboard .dashboard-sidebar {
  width: 250px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.patient-dashboard .dashboard-sidebar.open {
  transform: translateX(0);
}

.patient-dashboard .dashboard-main {
  flex: 1;
  padding: 20px;
}

.patient-dashboard .dashboard-sidebar ul {
  list-style: none;
  padding: 0;
}

.patient-dashboard .dashboard-sidebar li {
  padding: 15px;
}

.patient-dashboard .dashboard-sidebar a {
  text-decoration: none;
  color: #333;
}

.patient-dashboard .dashboard-sidebar a.active {
  font-weight: bold;
 
}
